.pointer{
    cursor: pointer;
}
.table.dashboard{
    user-select: none;
}
.table.dashboard>tbody>tr>td{
    vertical-align: middle;
}
.img-thumbnail{
    width: 80px;
}
.dash-container{
    min-height: 100%!important;
}
.back-icon{
    text-decoration: none;
}
